.container__flex {
	display: flex;
	justify-content:;
	height: 100vh;
	}
.item-flex {
	background-color: #248;
	height: 100px;
	min-width: 200px;
	margin: 5px;
	color: #fff;
}
.orange {background-color: orange;
		 flex-grow: 1;
	}

.green {background-color: green;
		flex-grow: 2;
}